
th {
  background-color: var(--md-default-fg-color--lightest);
}


/* Inline #5 | file:///C:/Users/ytreh/Documents/GitHub/CircuitPython_Cirque_Pinnacle/docs/_build/html/api.html#circuitpython_cirque_pinnacle.glidepoint.PinnacleTouch */

.md-nav.md-nav--primary > label {
  white-space: normal;
  line-height: inherit;
  padding-top: 3.5rem;
}
